
.boom {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    @media screen and (max-device-width : 1024px) {
        background-attachment: scroll;
    }
    min-height: 300px;
    color: #FFF;
    text-align: center;
    padding: 100px 0;
    font-weight: 300;
    font-size: 32px;
    text-shadow: -1px -1px 2px rgba(0,0,0, 0.7);
    footer {
        font-size: 16px;
    }
    a, a:hover {
        text-decoration: underline;
        color: white;
    }
}

#definition-more {
    background-image: url('../images/max-more-alcor.jpg');
}

#sensory {
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url('../images/eye.jpg');
}

#extension {
    background-image: url('../images/larrypage.jpg');
}

#cognitive {
    background-image: url('../images/oldman.jpg');
}

#physical {
    background-image: url('../images/legs.jpg');
}

#media {
    background-image: url('../images/hplus-media.jpg');
}

#future {
    background-image: url('../images/future.jpg');
}