@import "pygments";
@import "boom";
// Reference bootstrap variables
// @import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/variables";
@import "../bower_components/icomoon/style.css";
// variable overrides
$palette-1: #F0511F;
$palette-2: #FFA52A;
$palette-3: #FFD92D;
$palette-4: #47B6FF;
$palette-5: #2D85D3;
$header-background: #3DADD1;

$font-family-sans-serif: open-sans, sans-serif;
$headings-font-weight: 600;
$font-size-base: 16px;
$line-height-base: 1.6;
$line-height-computed: 2*14px;
$font-size-h2: 20px;
$font-size-h3: 16px;

$blockquote-font-size: $font-size-base;

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.
$grid-gutter-width: 30px;

// Small screen / tablet
$container-tablet:             ((720px + $grid-gutter-width));
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet;

// Medium screen / desktop
$container-desktop:            $container-tablet;
//** For `$screen-md-min` and up.
$container-md:                 $container-tablet;

// Large screen / wide desktop
$container-large-desktop:      $container-tablet;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-tablet;

$grid-float-breakpoint:     1100px; //$screen-md-min;

@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

h1 {
  font-weight: 300;
  // margin-top: 64px;
}

img {
  // @include img-responsive; //yep, bad idea
}

#site-content {
  > .container {
    padding: 64px 0;
  }
  background-color: #fff;
  position: relative;
  z-index: 99;
}

.history {
  h2 {
    margin-top: 0;
    padding-top: 0;
  }
  .row {
    margin-top: 20px;
  }
  .icomoon {
    font-size: 32px;
  }
}

.site-gallery {
  font-size: 14px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

header {
  color: white;
  background-color: $header-background;
  background-image: url(../images/background-header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
  z-index: -1;
  padding: 75px 0;

  h1 {
    font-size: $font-size-base*4;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.21);
  }
  h2 {
    font-size: $font-size-base*4;
    font-weight: 300;
    color: inherit;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.21);
  }
  p.page-summary {
    font-weight: 300;
  }
  a, a:visited, a:hover {
    text-decoration: underline;
    color: inherit;
  }
  > .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 80px + 60px; //::after is 12px high
}

footer#site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background: darken(white, 10%);
  border-top: 1px solid darken(white, 15%);
  .container {
    margin-top: 30px;
  }

  // &:after {    
  //   display: block;
  //   content: '';
  //   height: 12px;
  //   // Stripes
  //   $pastel-factor: 10%;
  //   @include stripes(to right, 
  //     lighten($palette-1, $pastel-factor), 
  //     lighten($palette-2, $pastel-factor), 
  //     lighten($palette-3, $pastel-factor), 
  //     lighten($palette-4, $pastel-factor), 
  //     lighten($palette-5, $pastel-factor));
  // }
}

#main {
  background: #FFF;
  word-break: break-word;
}

#site-nav {
  font-size: 12px;
  text-align: center;
  border: none;
  .navbar-collapse.collapse {
    font-size: 0;
  }
  .navbar-nav {
    float: none;
    display: inline-block;
    font-size: 12px;
  }
}

// SCROLL HACK
// prevent the fixed navbar from obscuring 
// same-page anchors when the browser scrolls to them.
h1[id]::before, li[id]::before {
  content: '';
  height: 0;
  padding-top: $navbar-height + 10px;
  margin-top: -$navbar-height - 10px;
  display: block; /* required for webkit browsers */
}

ul.reference-list :target {
  font-weight: bold;
}