<!DOCTYPE html>
<html>

  {% include head.html %}

    <body data-spy="scroll" data-target="#site-nav" id="top">

    {% include header.html %}
    <div id="main">
        {% include nav.html %}
        <div id="site-content">
            <div class="container">
              {{ content }}
            </div>
        </div>
    </div>
    {% include footer.html %}
    <script src="//use.edgefonts.net/open-sans:n3,i3,n4,i4,n6,i6,n7,i7,n8,i8.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/scripts.js"></script>
    </body>
</html>