<!DOCTYPE html>
<html>

  {% include head.html %}

    <body data-spy="scroll" data-target="#site-nav">

    {% include header.html %}
    <div id="main">
        {% include nav.html %}
        <div id="site-content">
            <div class="container">
              {{ content }}
            </div>
        </div>
    </div>
    {% include footer.html %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/scripts.js"></script>
    </body>
</html>